*{
    margin: 0;
    padding: 0;
}

body{
    background: #f5dcd0;
}

.wrapper{
    width: 100%;
    padding-top: 80%;
}

.img-info{
    width: 100%;
}

.img-info h2{
    padding: 30px 30px 20px;
    font-family: "Indie Flower", sans-serif;
    font-size: 50px;
    line-height: 44px;
    text-align: center;
}

.img-info p{
    padding: 0px 30px 20px;
    font-family: "Indie Flower", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.img-about{
    width: 100%;
}

@media only screen and (min-width: 768px){
    .wrapper{
        width: 600px;
        margin:  0 auto;
        padding-top: 55%;
    }

    .img-info{
        width: 100%;
    }

    .img-info h2{
        padding:  20px 0px 0px;
    }

    .img-info p{
        padding: 20px 0px 0px;
    }

    .img-about{
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px){
    .wrapper{
        width: 1000px;
        margin:  0 auto;
        padding-top: 28%;
    }

    .img-info{
        width: 50%;
        float: right;
    }

    .img-info h2{
        padding: 20px 0px 0px 30px;
    }

    .img-info p{
        padding:  20px 0px 0px 30px;
    }

    .img-about{
        padding-top: 0px;
        width: 50%;
        float: left;
    }
}