body{
    margin: 0;
    background: #dbdff9;
}

header{
    background: #dff1de;
    width: 100%;
    border-bottom: 8px black dotted;
    position: fixed;
    z-index: 2000;
}

.wishlist-style{
    top: 35%;
    right: 9%;
    position: absolute;
}

.wishlist-style i{
    color:  #809a7f;
    cursor: pointer;
    font-size: 250%;
    opacity: 0.8;
}

.bag-style{
    top: 32%;
    right: 3%;
    position: absolute;
}

.bag-style i {
    color:  #809a7f;
    cursor: pointer;
    font-size: 300%;
    opacity: 0.8;
}

header  div  h1{
    color: white;
    text-align: center;
    font-size: 400%;
    margin: 0;
    font-family: "Lemonada", sans-serif;
    margin-top: 3%;
}

header  div  p{
    color: white;
    text-align: center;
    font-size: 180%;
    font-family: "Indie Flower", sans-serif;
    opacity: 0.85;
    margin: 0;
}

/*.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}*/

/*.nav-bar ul{
    margin: 0%;
    padding: 2%;
}*/

.nav-bar ul li{
    list-style: none;
    float: left;
    width: 12.5%;
}

.nav-bar a {
    display: block;
    color: #809a7f;
    text-decoration: none;
    padding: 4%;
    font-family: "Indie Flower", sans-serif;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

.nav-bar a:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 930px){
    body{
        background: black;
    }

    header  div  h1{
        font-size: 280%;
    }

    header  div  p{
        font-size: 140%;
    }

    .nav-bar{
        margin-top: 10%;
    }

    .nav-bar ul li{
        width: 50%;
    }

    .wishlist-style{
        top: 37%;
        right: 50%;
    }
    
    .wishlist-style i{
        font-size: 200%;
    }
    
    .bag-style{
        top: 35%;
        right: 38%;
    }
    
    .bag-style i {
        font-size: 250%;
    }
}

.container{ 
    height: auto;
    margin-top: -4%;
    width: 100%;
}

.box-container{
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    height: 550px;
    background: #f5dcd0;
    padding-top: 20%;
}

.box-container h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    font-size: 280%;
    color: #809a7f;
    font-family: "Lemonada", sans-serif;
    letter-spacing: 10px;
    text-shadow: 10px 8px 8px #a2afa1;
}

.box1{
    padding-top: 10%;
    margin-left: -80%;
    position: absolute;
    z-index: 2;
}

.box1 a img{
    width: 60%;
    height: 60%; 
    border: 3px black dotted;   
}

.box1 a img:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.box2{
    background: white; 
    width: 23%;
    height: 28%;
    position: absolute;
    z-index: 1;
    margin-top: 8%;
    margin-left: -65%;
}

.box2-text p{
    margin-top: 15%;
    margin-left: 25%;
    color: black;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 150%;
    line-height: 15px;
}

.box3{
    padding-top: 8%;
    margin-left: -35%;
    position: absolute;
    z-index: 1;
}

.box3 a img{
    width: 60%;
    height: 60%;    
}

.box3 a img:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.box4{
    background: white; 
    width: 20%;
    height: 27%;
    position: absolute;
    margin-top: 23%;
    margin-left: -22%;
    border: 3px black dotted;
    z-index: 2;
}

.box4-text p{
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    color:black;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 150%;
    line-height: 15px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding-top: 8%;
    margin: auto;
    width: 85%;
}

/*.product{
    position: relative;
}*/

.product-img a img{
    width: 80%;
    height: 80%;
    border: 4px #f4ede1 dotted;
}

.product-text{
    margin-left: 0;
    width: 80%;
    text-align: center;
    font-size: 125%;
    font-family: "Indie Flower", sans-serif;
    font-weight: bold;
    line-height: 12px;
}

.product-img-blur{
    transition: 1s;
    filter: blur(5px);
}