header{
    background: #dff1de;
    width: auto;
}

header  div  h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin: 0;
    font-family: "Lemonada", sans-serif;
}

header  div  p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Indie Flower", sans-serif;
    opacity: 0.85;
    margin: 0;
}

.nav-bar{
    width: 100%;
}

.nav-bar ul{
    margin: -30px;
    padding: 60px;
}

.nav-bar ul li{
    list-style: none;
    float: left;
    width: 12.5%;
}

.nav-bar a {
    display: block;
    color: #809a7f;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Indie Flower", sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.box-container{
    display: flex;
    margin: 50px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 450px;
    /*align-items:center;*/
    background: #f5dcd0;
}

.box1{
    padding-top: 75px;
    margin-left: -80px;
    position: absolute;
    z-index: 2;
    /*width: 200px;
    font-size: 24px;
    flex-shrink: 3;
    align-self: center;
    margin-left: 15px;*/
}

.box1 a img{
    width: 20em;
    height: 20em; 
    border: 3px black dotted;   
}

.box2{
    background: white; 
    width: 20em;
    height: 15em;
    position: absolute;
    z-index: 1;
    margin-top: 35px;
    margin-left: 150px;


    /*width: 200px;
    font-size: 29px;
    flex-shrink: 2;
    align-self: flex-end;*/
}

.box2-text p{
    margin-top: 50px;
    margin-left: 85px;
    color: black;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 25px;
    line-height: 15px;
}